* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

#firstt {

    background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url(photo/sky2.jpg);
    background-position: center;
    background-size: cover;
    height: 110vh;


}

.mon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hed {

    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: #020101;
}

.logo {

    width: 20px;
    height: 20px;
    margin-right: 40px;
}

.h11 {

    margin-left: 5px;
}

.hh0 {
    height: 22px;

    position: relative;
    display: inline-block;


}

.hh0:hover>.navv,
.an {
    display: block;


}

.hh0:hover>.navv {

    height: 90px;

}

.navv {

    width: 260px;
    position: absolute;
    top: 23px;
    padding: 10px 15px 5px 15px;
    height: 0px;
    right: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500));
    overflow: hidden;
    border-radius: 15px;

}

.navv .an {
    display: block;
    text-decoration: none;
    color: #E5E5F7;
    text-transform: uppercase;
    padding-top: 10px;
    text-align: center;
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.navv .an:hover {
    border-bottom: 1px solid #E5E5F7;
    color: gold;
}

.s {
    color: rgb(11, 170, 11);

}

.k {
    color: rgba(247, 247, 9, 0.979);
}

.y {
    color: rgb(207, 30, 30);
}

.movies {
    color: #E5E5F7;
    font-size: 20px;
    font-family: sans-serif;
}

.first10 {

    margin-top: 0px;
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));

}

.inside0 {

    margin-top: 300px;

    width: 100%;
    height: 30vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(221, 21, 21));
    transition: 2s;
}

.cont0 {

    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 80vh;
    /* background-color: black; */
    gap: 3px;
    overflow: auto;
    flex-wrap: wrap;

}

.con100,
.con20,
.con30,
.con40,
.con50,
.con60,
.con70,
.con80,
.con90,
.con1000 {

    flex: 1 0 300px;
    width: 200px;
    height: 100px;
    background-position: center;
    background-size: cover;
    transition: 1s;
    cursor: pointer;

    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;

}

.con100 {
    background-image: url(photo/bir.jpg);
}

.con20 {
    background-image: url(photo/from.jpg);
}

.con30 {
    background-image: url(photo/beek.jpg);
}

.con40 {
    background-image: url(photo/exp.jpg);
}

.con50 {
    background-image: url(photo/opp.jpg);
}

.con60 {
    background-image: url(photo/rom.jpg);
}

.con70 {
    background-image: url(photo/fla.jpg);
}

.con80 {
    background-image: url(photo/lupin.jpg);
}

.con90 {
    background-image: url(photo/ali.jpg);
}

.con1000 {
    background-image: url(photo/bor.jpg);
}

.con100:hover {

    flex: 1 0 200px;
}

.con20:hover {

    flex: 1 0 300px;
    height: 400px;
}

.con20:hover .inside0 {
    margin-top: 0px;
}

.con30:hover {
    flex: 1 0 300px;
    height: 400px;
}

.con30:hover .inside0 {
    margin-top: 0px;
}

.con40:hover {
    flex: 1 0 300px;
    height: 400px;
}

.con40:hover .inside0 {
    margin-top: 0px;
}

.con50:hover {
    flex: 1 0 300px;
    height: 400px;
}

.con50:hover .inside0 {
    margin-top: 0px;
}

.con60:hover .inside0 {
    margin-top: 0px;
}

.con60:hover {
    flex: 1 0 300px;
    height: 400px;
}

.con70:hover .inside0 {
    margin-top: 0px;
}

.con70:hover {
    flex: 1 0 300px;
    height: 400px;
}

.con80:hover .inside0 {
    margin-top: 0px;
}

.con80:hover {
    flex: 1 0 300px;
    height: 400px;
}

.con90:hover .inside0 {
    margin-top: 0px;
}

.con90:hover {
    flex: 1 0 300px;
    height: 400px;
}

.con1000:hover .inside0 {
    margin-top: 0px;
}

.con1000:hover {
    flex: 1 0 300px;
    height: 400px;
}

#active0 {

    flex: 1 0 200px;
    height: 400px;
}

#first {

    background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url(photo/sky2.jpg);
    background-position: center;
    background-size: cover;
    height: 110vh;

}

#posts {
    margin-top: -10px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hh {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: #E5E5F7;
    text-transform: uppercase;
    margin: 0 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

nav a:hover {
    color: gold;
}

input {
    margin-right: 50px;
    outline: none;
    border: 1px solid #111;
    background: #E5E5F7;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

input::placeholder {
    text-align: center;
    color: rgb(0, 0, 0);
}

h1 {

    font-family: sans-serif;
    padding-left: 100px;
}

.movies {
    color: #E5E5F7;
    font-size: 20px;
    font-family: sans-serif;
}

.s {
    color: green;

}

.k {
    color: rgba(247, 247, 9, 0.979);
}

.y {
    color: rgb(207, 30, 30);
}

.cont {

    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 70vh;
    /* background-color: black; */
    gap: 3px;
    overflow: hidden;

}

.first1 {

    margin-top: 0px;
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));

}

.inside {
    margin-top: 500px;

    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(221, 21, 21));
    transition: 2s;
}

.con1,
.con2,
.con3,
.con4,
.con5,
.con6,
.con7,
.con8,
.con9,
.con10 {
    flex: 1;
    width: 400px;
    height: 400px;
    background-position: center;
    background-size: cover;
    transition: 1s;
    cursor: pointer;

    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;

}

.con1 {
    background-image: url(photo/bir.jpg);
}

.con2 {
    background-image: url(photo/from.jpg);
}

.con3 {
    background-image: url(photo/beek.jpg);
}

.con4 {
    background-image: url(photo/exp.jpg);
}

.con5 {
    background-image: url(photo/opp.jpg);
}

.con6 {
    background-image: url(photo/rom.jpg);
}

.con7 {
    background-image: url(photo/fla.jpg);
}

.con8 {
    background-image: url(photo/lupin.jpg);
}

.con9 {
    background-image: url(photo/ali.jpg);
}

.con10 {
    background-image: url(photo/bor.jpg);
}

.con1:hover {

    flex: 3;
}

.con2:hover {

    flex: 5;
}

.con2:hover .inside {
    margin-top: 0px;
}

.con3:hover {
    flex: 5;
}

.con3:hover .inside {
    margin-top: 0px;
}

.con4:hover {
    flex: 10;
}

.con4:hover .inside {
    margin-top: 0px;
}

.con5:hover {
    flex: 10;
}

.con5:hover .inside {
    margin-top: 0px;
}

.con6:hover .inside {
    margin-top: 0px;
}

.con6:hover {
    flex: 4;
}

.con7:hover .inside {
    margin-top: 0px;
}

.con7:hover {
    flex: 5;
}

.con8:hover .inside {
    margin-top: 0px;
}

.con8:hover {
    flex: 5;
}

.con9:hover .inside {
    margin-top: 0px;
}

.con9:hover {
    flex: 4;
}

.con10:hover .inside {
    margin-top: 0px;
}

.con10:hover {
    flex: 10;
}

#active {
    flex: 5;
}

h5 {
    cursor: text;
    margin-top: 330px;
    margin-left: 30px;
    color: #E5E5F7;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    cursor: text;
    margin-left: 30px;
    color: #c9c9cc;
    font-size: 10px;
}

.kaka {
    cursor: text;
    color: rgb(10, 64, 212);
}

@media screen and (max-width:600px) {
    #first {
        display: none;
    }

    h1 {
        font-size: 15px;
    }

    .card {
        width: 200px;
        height: 200px;
    }

    .con1,
    .con2,
    .con3,
    .con4,
    .con5,
    .con6,
    .con7,
    .con8,
    .con9,
    .con10 {
        flex: 1;
        width: 300px;
        height: 300px;
    }

    .con100,
    .con20,
    .con30,
    .con40,
    .con50,
    .con60,
    .con70,
    .con80,
    .con90,
    .con1000 {

        flex: 2 0 200px;
        width: 100px;
        height: 90px;


    }

    .cont0 {

        margin-top: 70px;
        width: 70%;
        height: 70vh;
    }

}

@media screen and (min-width:600px) {
    #firstt {
        display: none;
    }
}